@charset "utf-8";

/* imports */
@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}

/* basic reset */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* global settings */
:root {
    /* colours */
    --primary-color: #7193d9;
    --secondary-color: #4a88d9;
    --tertirary-color: #f2f2f2;
    --semi-dark-color: #4b4759;
    --dark-color: #0d0d0d;

    /* transition */
    --trans-time: 250ms;
    --trans-type: ease-in-out;
}

body {
    font-family: "Nunito";
    background-color: var(--tertirary-color);
}

/* layout */

.header,
.home,
.character,
.author__figcaption,
.footer {
    padding: 0.5rem;
}

.header__nav,
.about__title,
.character__title,
.character__subtitle {
    display: none;
}

.sidebar {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.sidebar,
.overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.sidebar.open {
    opacity: 1;
    width: 80%;
    padding: 0.5rem;
}

.sidebar.open~.overlay {
    opacity: 1;
    z-index: 2;
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.header__menu,
.sidebar__menu,
.character__menu {
    list-style: none;
}

/* components */

/* header Components */

.header {
    z-index: 1;
    background-color: var(--tertirary-color);
    box-shadow: 0 0.1rem 0.2rem var(--tertirary-color);
}

.header,
.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
}

.header__group,
.sidebar__group {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.header__logo,
.header__icon,
.sidebar__logo,
.sidebar__icon {
    height: 1.75rem;
    width: 1.75rem;
}

.header__title,
.sidebar__title,
.home__title,
.author__title,
.author__text,
.highlight__title {
    color: var(--semi-dark-color);
}

.header__btn,
.sidebar__btn {
    background-color: transparent;
}

.header__menu,
.sidebar__menu {
    display: inline-flex;
    gap: 0 2rem;
}

.header__link,
.sidebar__link {
    color: var(--primary-color);
    font-weight: 600;
}

.sidebar__menu {
    list-style: none;
    padding: 1rem;
}

.sidebar__menu,
.highlight {
    border-top: 0.1rem solid #ddd;
}

.bg-image {
    height: 480px;
    width: 100%;
    background-color: var(--semi-dark-color);
    background-image: url("../images/deep-space.jpg");
    background-position: center top;
    background-size: cover;
}

/* home components */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.home__image {
    height: 16rem;
    width: 16rem;
    animation: float 1000ms ease-in-out infinite alternate;
}

.home__group {
    text-align: center;
}

.home__title,
.author__title {
    margin-bottom: 2rem;
}

.home__text,
.author__text,
.author__figcaption,
.card__text {
    line-height: 1.8;
    max-width: 32rem;
}

.home__btn {
    margin: 2rem 0 1rem 0;
}

/* about components */

.sidebar,
.character,
.author__figure,
.card {
    background-color: #fff;
}

.sidebar__menu,
.character__menu,
.author {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.character__menu,
.author {
    align-items: center;
}


.character__menu {
    flex-wrap: wrap;
}

.character__item {
    text-align: center;
    width: fit-content;
}

.character__image,
.character__text {
    display: block;
    margin: 0.5rem auto;
}

.character__image {
    height: 3rem;
    width: 3rem;
}

/* author components */

.author {
    margin-top: 4rem;
}

.author,
.author__figcaption,
.highlight {
    padding: 1.5rem;
}

.author__figure {
    border-radius: 1.25rem;
}

.author__figure,
.card {
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
}

.author__figcaption {
    display: flex;
    justify-content: space-between;
}

.author__image {
    height: auto;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: transform 250ms ease-in-out;
}

.highlight {
    margin: 2rem 0;
}

.grid {
    /*
        auto-fit does the columns grow to avalable space.
        minmax does each column is limited 14rem to 28rem.
    */
    --rcolumns: repeat(auto-fit, minmax(14rem, 28rem));

    display: grid;
    grid-template-columns: var(--rcolumns);
    justify-content: center;
    gap: 2rem;
}

.highlight__title {
    text-align: center;
    margin-bottom: 3rem;
}

.card,
.card__body {
    padding: 0.75rem;
}

.card {
    border-radius: 0.75rem;
}

.card__image {
    height: 5rem;
    width: 5rem;
}

.card__title {
    margin: 1rem 0;
}

.card__btn {
    display: block;
    margin: 2rem auto 1rem auto;
    width: 50%;
}

/* footer components */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(720px * 0.25);
    margin-top: 2rem;
    background-color: var(--tertirary-color);
    background-image: url("../images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.footer__copy {
    color: #fff;
    font-weight: 600;
}

/* modifiers */

.title--sm {
    font-weight: 800;
    font-size: small;
}

.title--lg {
    font-weight: 500;
    font-size: larger;
}

.title--x-lg {
    font-weight: 700;
    font-size: x-large;
}

.title--xx-lg {
    font-weight: 900;
    font-size: xx-large;
}


.text--sm {
    font-size: small;
}

.link--def {
    cursor: none;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.25rem;
}

.link--def:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: var(--primary-color);
    width: 100%;
    height: 0.1rem;
}

.btn--sm {
    font-size: smaller;
    font-weight: 500;
    padding: 1rem;
}

.btn--lg {
    font-weight: 700;
    padding: 1rem 2rem;
}

.btn--primary,
.btn--tertiary {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    outline-offset: 0.25rem;
    border-radius: 0.5rem;
    transition: background-color 250ms ease-in-out;
}

.btn--primary {
    color: var(--tertirary-color);
    background-color: var(--primary-color);
}

.btn--primary:hover {
    background-color: var(--secondary-color);
}

.btn--primary:focus {
    outline: 0.2rem solid rgba(74, 136, 217, 0.5);
}

.btn--tertiary {
    color: var(--semi-dark-color);
    background-color: var(--tertirary-color);
    border: 0.1rem solid #ddd;
}

.btn--tertiary:hover {
    background-color: #ddd;
}

.btn--tertiary:focus {
    outline: 0.2rem solid rgba(75, 71, 89, 0.5);
}

/* media queries */

@media screen and (min-width: 1024px) {
    /* header components */

    .header {
        justify-content: space-around;
    }

    .header__nav {
        display: block;
    }

    .header__btn {
        display: none;
    }

    /* home components */

    .home {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;
        padding-top: 2rem;
    }

    .home__image {
        order: 1;
    }

    .home__group {
        text-align: left;
    }

    /* character components */

    .character__menu {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* author components */

    .author {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1.75rem;
    }

    /* highlight components */

    .card__btn {
        width: fit-content;
        margin: 2rem 0 1rem 0;
    }

    /* modifiers */

    .link--def {
        cursor: pointer;
    }

    .btn--primary,
    .btn--tertiary {
        cursor: pointer;
    }
}

@media screen and (min-width: 1440px) {}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(1rem);
    }
}